<div class="mb-3">
    <h4>Dashboard principal</h4>
    <p>Seja bem vindo ao sistema de agenda de tarefas.</p>
</div>


<div class="container">
    <div class="row mb-3">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Gráfico 1</h5>
            <p class="card-text">Content for card 1.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Gráfico 2</h5>
            <p class="card-text">Content for card 2.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Gráfico 3</h5>
            <p class="card-text">Content for card 3.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Gráfico 4</h5>
            <p class="card-text">Content for card 4.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
 


